.pag-produtos {
  background-image: url('../imagem/produtos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.container-buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.buscar-produto {
  font-size: 14px;
  border-radius: 15px;
  background-color: #87f533;
  color: black;
  padding: 6px;
}

.vercarrinho img {
  width: 100px;
}

.vercarrinho {
  margin-top: 200px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}


#carrinho {


  margin-top: 14px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #87f533;
  box-shadow: 0 5px 10px #87f533;
  text-align: center;
  /* position: fixed;
  bottom: 0;
  right: 0; */
  width: 100%;

}
#carrinho p{
  font-weight: 800;
  
}

#carrinho.show {
  display: block;
}

#carrinho-items {
  list-style: none;
  padding: 0;
}

#carrinho-items li {
  margin-bottom: 5px;
}

#carrinho-items li button {
  color: red;
  border: none;
  margin-left: 5px;
}

.btn-carrinho {
  color: #75ba41;
  font-weight: 700;
}

.btn-limpar {
  color: red;
  font-weight: 700;
}

.produtos-vendas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  max-height: 500px;
  /* Altura máxima da seção antes de começar a rolar */
  overflow-y: auto;
  scrollbar-width: thin;
  /* Para navegadores Firefox */
  scrollbar-color: #333333 #ffffff;
  /* Para navegadores Firefox */
  border: 1px solid #F58533;
  box-shadow: 0 5px 10px #F58533;

}

.produtos-vendas::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
}

.produtos-vendas::-webkit-scrollbar-thumb {
  background-color: #F58533;
  /* Cor do botão de rolagem */
}

.produtos-vendas::-webkit-scrollbar-track {
  background-color: #8e8e8e;
  /* Cor da barra de rolagem */
}

.produtos {
  display: flex;
  width: 100px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}

.card-description p {
  color: rgb(70, 162, 76);
  font-weight: 600;
}

.produtos img {
  width: 200px;
  display: block;
  margin: 0 auto;

}

.produtos.img-reajuste img {
  width: 60%;
}

.produtos.img-reajuste2 img {
  width: 50%;
}

.card-content {
  text-align: center;
}

.card-title h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;

}

.card-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

.card-price {
  font-size: 16px;
  color: #F58533;
  /* Cor laranja para o preço */
  font-weight: bold;
}



#frete,
#total {
  margin-top: 10px;
}


.btn-buy {
  margin-top: 10px;
  color: white;
  background-color: #ffffff;
  border-radius: 1rem;
  background-color: #F58533;
  padding: 10px 10px;
  translate: 0.25rem -0.25rem;
  transition: 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;

}
.btn-buy:hover{
  background-color: #75ba41;
}



.btn-buy:active span {
  translate: none;

}

.btn-buy span {
  display: inherit;
  translate: 0.25rem -0.25rem;
  transition: 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.btn-mais {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  background-color: #ffffff;
  border-radius: 1rem;
  background-color: #75ba41;
  padding: 10px 10px;
}

.produtos {
  display: none;
}

.produtos:nth-child(-n+4) {
  display: block;

}